@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.subtitulo {
/* font-family: font-mono; */
font-size: larger;
margin-left: 18px;
margin-top: 12px;
margin-bottom: 8px;
}

.botonpersonalizado{
  background-color: rgb(115, 255, 0);
}

.header-elegante {
  @apply bg-red-950 text-white shadow-lg;
}

.button-principal {
  @apply hidden items-center gap-2 rounded-xl 
         px-4 py-2 text-sm font-medium text-white 
         shadow-sm transition 
         bg-gradient-to-r from-emerald-700 to-green-600
         hover:from-emerald-800 hover:to-green-700
         lg:inline-flex
         focus:outline-none focus:ring-4 
         focus:ring-emerald-300/60 dark:focus:ring-emerald-700/60;
}

